.SideBar
  .LeftHeader
    .LeftHeader__username
      %a.LeftHeader__name
        keisuke
      .LeftHeader__icons
        = link_to do
          %i.far.fa-edit
          %i.fa.fa-cog
  .GroupList
    .Group
      %div.Group__name
        techcamp
      %div.Group__message
        test
    .Group
      %div.Group__name
        techcamp
      %div.Group__message
        まだメッセージがありません
